
html {
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;
  color: #343434;
}
html, body {
  overflow-x: hidden;
}
body,figure, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  border-style: none;
}

a {
  color: #fff;
  font-weight: 700;
}
.header {
  min-width: 768px;
  overflow: hidden;
}

[role=button], [type=button], [type=checkbox], [type=radio], [type=submit], a, button, select {
  cursor: pointer;
}

::-moz-selection {
  background: #42C6FF;
  color: #fff
}

::selection {
  background: #42C6FF;
  color: #fff
}

.container {
  margin: 0 auto;
  max-width: 1920px;
}

.content {
  padding: 2em 2em 6em;

  @media screen and (min-width: 768px) {
    padding: 6em 6em 8em;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  margin-top: 0;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    margin-top: -6em;
  }
  

  &__headings {
    flex: 2;
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
  
  &__title {
    font-weight: 700;
    font-size: 3em;
    line-height: 1.2em;
    padding-bottom: 0.5em;

    @media screen and (min-width: 768px) {
      font-size: 4em;
      line-height: 1.1em;
      padding-bottom: 0.2em;
    }
  }
  
  &__subtitle {
    font-weight: 400;
    font-size: 1.5em;
    padding-bottom: 1em;

    @media screen and (min-width: 768px) {
      font-size: 2em;
      padding-bottom: 0.75em;
    }
  }

  &__button {
    display: inline-block ;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: .05em;
    color: #ffffff;
    background-color: #E5526A;
    border-radius: 30px;
    padding: 0.75em 1.25em;
    text-decoration: none;
  }

  &__logo-box {
    flex: 1;
    text-align: center;
    margin: 0 0 2em 0;

    @media screen and (min-width: 768px) {
      margin: 0 2em 0 0;
    }
  }

  &__logo {
    height: 170px;

    @media screen and (min-width: 768px) {
      height: 200px;
    }
  }
}

.footer {
  background:  linear-gradient(135deg,#42C6FF,#2b84aa);
  color: #fff;

  &__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 4em;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 2em;
    }
  }

  &__form {
    margin-top: -4em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px){
      margin-top: -8em;
      justify-content: flex-start;
    }
  }
  &__info {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;

    @media screen and (min-width: 768px) {
      text-align: right;
    }
  }
  &__social {
    padding-bottom: 2em;
    & > a {
      text-decoration: none;
    }
  }
}

.form {
  width: 100%;
  max-width: 280px;
  padding: 2em;
  background:linear-gradient(135deg,#E5526A,#bb4156);
  border-radius: 20px;

  @media screen and (min-width: 420px) {
    max-width: 302px;
  }


  &__title{
    font-weight: 700;
    letter-spacing: .05em;
    padding-bottom: .5em;
  }

  &__container { 
    display: flex;
    flex-direction: column;
  }
  &__label {
    font-size: .875rem;
    line-height: 1.5;
    padding-bottom: .5em;
  }
  &__input {
    border: none;
    border-radius: 5px;
    margin-bottom: .5em;
    padding: .7em .9em;
  }
  &__test {
    overflow: hidden;
  }
  &__submit {
    border-radius: 5px;
    background-color: #E5526A;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.04em;
    margin-top: 1em;
    padding: .7em .9em;
    transition: color .2s, background-color .2s;

    &:hover {
      background-color: #fff;
      color: #343434;
    }
  }
}

